/* You can add global styles to this file, and also import other style files */
.header{
    height: 120px;
    width: 100%;
    background: #09c!important;
    text-align: center;
    color: yellow;
    padding-top: 30px;
}

#input{
    text-align: center;
}
